<form class="create-post-form">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="Title" />
  </div>
  <div>
    <label for="post">post:</label>
    <input type="textera" id="post" />
  </div>
  <div>
    <button type="submit">post</button>
  </div>
</form>

<script src="/js/createpost.js"></script>