<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>
<br>
<br>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <input id="postId" value="{{postId}}" type="hidden"/>
        <textarea name="comment-body" id="body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments comments}}

{{#if loggedIn}}
<script src="/js/comment.js></script>
{{/if}}